@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');


* {
   margin: 0;
   padding: 0;
}

body{
   max-width: 400px;
   height: 1000px;
}

#pic{
   padding: 0;
   background: #fff url('NY.jpg') no-repeat center top;
   height: 100%;
   background-size: cover;
   background-position: left;
   position: relative; /* для указания приоритета обязательно указать позицию до */
   z-index: 0; /* приоритет слоя*/

}

#gif{
   background: url('snow.gif') no-repeat center top;
   background-size: cover;
   background-position: right;
   width: 100%;
   height: 105.5%;
   position: absolute; /* для указания приоритета обязательно указать позицию до */
   z-index: 3; /* приоритет слоя*/
}

#text{

   color: #c7c7c7;
   text-align: left; /* расположение текста*/
   font-size: 13px; /* размер шрифта (px или em - относительные единицы относительно первоначального текста)*/
   font-style: italic; /* стиль текста */
   font-family: "Rubik Gemstones", system-ui; /* шрифты */


   word-spacing: 5px; /* пространство между словами*/
   letter-spacing: 2px; /* пространство между буквами*/
   line-height: 30px; /* расстояние между строками*/
   position: relative; /* для указания приоритета обязательно указать позицию до */
   z-index: 1; /* приоритет слоя*/
   top: 3%;
   float: right;

}

#audio{
   position: fixed; /* для указания приоритета обязательно указать позицию до */
   z-index: 4; /* приоритет слоя*/
   bottom: 3%;
   left: 20%;

}